table{

    width: 100%;
}
tr{

    width: 100%;
}
td{

    width:25%;
    height: 500px;
    text-align: center;
    font-family: Arial;
    vertical-align: center;
}
h1{

    font-family: Arial;
    color: #cad3f5; 
    font-size: 50px;
}
h2{

    font-family: Arial;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 30px;
}
body{

    background-color: #1e2030;
}
#gauge-arc-container {

    position: relative;
}
#gauge-arc {

    display: block;
    margin: 0 auto;
}
